{% extends "templates/web.html" %}

{% block page_content %}
<div>
	<h1>{{ doc.name }}</h1>
    <h2>Flight Details</h2>
    <ul>
        <li>Name: {{ doc.airplane }}</li>
        <li>{{ doc.source_airport_code }} - {{ doc.destination_airport_code }}</li>
        <li>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }}</li>
        <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
    </ul>
    <button style="
    padding: 4px 4px;
    background-color: lightblue;
    "> 
        <a href="/book-flight-ticket-web-form/new?flight={{ doc.name }}">Book Ticket</a>
    </button>
</div>

{% endblock %}